*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dfe9f5;
}
.box{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgb(58, 113, 201);
}
h1{
    font-size: 2rem;
    color: black;
}
form input{
    width: auto;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
form textarea {
    width: 92%;
    height: 250px;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    resize: vertical;
}
form select {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
p{
    margin-top: 15px;
}
